<footer>
    <br /> 
    <br />
    <hr>
    <p id="footer"> 
        Thank you to the&nbsp;<a href="https://codecookies.xyz/express-tutorial/v1">Codecookies Express Tutorial<a>&nbsp;for teaching me many of the skills needed to build this site.
    </p>
    <br /> 
    <br />
</footer>