<header>
    <h1>Fake CD Store and Real Audio File Uploader/Player</h1>

    <nav>
      <a href="/">Home</a>
        &nbsp;|&nbsp;

      <a href="/about">About</a>
        &nbsp;|&nbsp;

      <a href="/shop">Shop</a>

        <% if (req.isAuthenticated()) { %>
          ,&nbsp;
          <a href="/shop/new">Add Inventory</a>
          &nbsp;|&nbsp;
        <% } else { %>
          &nbsp;|&nbsp;
        <% } %>

      <a href="/news">News</a>

        <% if (req.isAuthenticated()) { %>
          ,&nbsp; 
          <a href="/news/new">Add News</a> 
          &nbsp;|&nbsp;
        <% } else { %>
          &nbsp;|&nbsp;
        <% } %>
        
      <a href="/contact">Contact</a>
        &nbsp;|&nbsp;

      <% if (req.isAuthenticated()) { %>
        <a href="/logout">Logout</a>
      <% } else { %>
        <a href="/login">Admin Login</a>
      <% } %>
    </nav>
    

    <% if (req.isAuthenticated()) { %>
      <br>
      <div class="logged-in-message">
        Welcome, <%= req.user.username %>! (You are logged in.)
      </div>
    <% } %>

    <hr>
  </header>