<header>
    <h1>Fake Cookie Shop and Real Audio File Uploader/Player</h1>

    <nav>
      <a href="/">Home</a>&nbsp;|&nbsp;
      <a href="/about">About</a>&nbsp;|&nbsp;
      <a href="/cookies">Shop</a>,&nbsp;<a href="/cookies/new">Add Cookies</a>&nbsp;|&nbsp;
      <a href="/news">News</a>,&nbsp;<a href="/news/new">Add News</a> 
        &nbsp;|&nbsp;
      <a href="/contact">Contact</a>
    </nav>

    <hr>
  </header>