<!-- credit to the getbootstrap.com tutorial on navbars for teaching me much of this syntax: -->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">CD Shop & Audio Uploader/Player</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop">Shop</a>
        </li>
        <% if (req.isAuthenticated()) { %>
          <li class="nav-item">
            <a class="nav-link" href="/shop/new">+Article</a>
          </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link" href="/news">News</a>
        </li>
          <% if (req.isAuthenticated()) { %>
            <li class="nav-item">
              <a class="nav-link" href="/news/new">+News</a> 
            </li>
          <% } else { %>
          <% } %>
        <li class="nav-item">  
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <% if (req.isAuthenticated()) { %>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Admin Login</a>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>
  <br>
  <% if (req.isAuthenticated()) { %>        
    <div class="logged-in-message">
      Welcome, <%= req.user.username %>! (You are logged in.)
    </div>
  <% } %>
  <br>
</header>