<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: 'About | CD Shop'}) %>

<body>

    <%- include('includes/header') %>

    <main>
        <p>
            This is the about page for the website.
        </p>
        <p>
            In our long and illustrious history, we sold <%= numberOfCookiesSold %> CDs.
        </p>
        <p>
            In truth, I created this website for a school project, to practice web development.
        </p>
    </main>

    <%- include('includes/footer') %>
    
</body>

</html>