<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: 'About | Cookieshop'}) %>

<body>

    <%- include('includes/header') %>

    <main>
        <p>
            This is the about page for the Cookie shop.
        </p>
        <p>
            There is not much to see here so far.
        </p>
        <p>
            In our long and illustrious history, we sold <%= numberOfCookiesSold %> cookies.
        </p>
    </main>

    <%- include('includes/footer') %>
    
</body>

</html>