<html>
    <head>
        <title>Contact</title>
        <link rel="stylesheet" href="assets/css/styles.css" type="text/css">
    </head>
    <body>
        <%- include('includes/header') %>

        <h2>Contact</h2>

        <form action="/contact" method="POST">
            <input type="text" name="name" placeholder="name" /><br />
            <input type="email" name="email" placeholder="email" /><br />
            <textarea name="message" placeholder="message"></textarea><br />
      
            <button>Send</button>
        </form>
        <%- include('includes/footer') %>
    </body>
</html>