<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Cookieshop</title>
</head>
<body>
    <header>
        <h1>Cookieshop</h1>

        <nav>
            <a href="/">Home</a>&nbsp;|&nbsp;
            <a href="/about">About</a>&nbsp;|&nbsp;
            <a href="/cookies">Shop</a>&nbsp;|&nbsp;
            <a href="/contact">Contact</a>
        </nav>
    </header>

    <main>
        <p>
            Welcome to the Cookie shop.
        </p>
        <p>
            We currently have 99 cookies in stock.
        </p>
    </main>

    <footer>
        Thank you to Codecookies for the tutorial for how to make this site.
    </footer>
</body>

</html>