html {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-brand {
    padding-left: 12px;
}

.navbar-toggler {
    padding-right: 12px;
}

nav {
    position: static;
    max-width: 900px;
    margin: auto;
    margin-top: 8px; 
}

main {
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
}

main {
    max-width: 800px;
    margin: auto;
}

body {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(154, 154, 235);
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px
}

hr {
    border: 0.5px solid black
}

#footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.logged-in-message {
    text-align: center;
    padding-top: 10px;
    padding-left: 10px
}

#audio-player {
    display: none
}

.news-article {
    padding: 25px; 
    margin-bottom: 25px;
    box-shadow: -10px -10px 10px -5px rgba(0, 0, 0, 0.364);
}

.news-article-title {
    margin-block-start: 0;
}

#news-intro-sentence {
    margin:  30px 15px
}