<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head', {title: 'Shop | Cookieshop'}) %>

<body>
  <%- include('../includes/header') %>

  <main>
    <p>Our current offerings:</p>
    <ul>
      <li><a href="/cookies/chocolate-chip">Chocolate Chip</a></li>
      <li><a href="/cookies/banana">Banana</a></li>
    </ul>
  </main>

  <%- include('../includes/footer') %>

</body>
</html>