<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head', {title: "New Cookie | Cookieshop"}) %>
<body>
    <%- include('../includes/header') %>

    <main>
        <h2>Add a new cookie</h2>

        <form action="/cookies" method="POST">
            <input type="text" name="name" placeholder="Name" required /><br />
            <input type="text" name="slug" placeholder="Slug" required /><br />
            <input type="text" name="description" placeholder="Description (optional)" /><br />
            <input type="number" name="priceInCents" placeholder="Price in cents" required min="0" step="1" /><br />
            <button>Save</button>
        </form>
    </main>

    <%- include('../includes/footer') %>
</body>
</html>